body {
  margin: 0;
  background-color: black;
  color: seashell;
  font-family: Helvetica;
  font-size: 22px;
}

/* Header */

header {
  display: flex;
  border-bottom: 1px solid seashell;

}

nav span {
  text-decoration: underline;
}
