body {
  margin: 0;
  background-color: black;
  color: seashell;
  font-family: Helvetica;
  font-size: 22px;
}

/* Header */

header {
  display: flex;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  position: fixed;
  z-index: 1;
  align-items: center;
}

.logo img {
  height: 50px;
  padding: 10px;
}

.logo {
  flex-grow: 1;
}

span a  {
  text-decoration: underline;
  color: seashell;
  padding: 10px;
}

/* Main Content */

.main {
  display: flex;
  justify-content: center;
}

.mission {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  position: relative;
  display: flex;
  top: 70px;
  height: 700px;
  width: 1200px;
  margin: auto;
  align-items: center;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 100%;
  margin: auto;
}

h2, h4 {
  margin: 0;
  padding: 10px;
}
